/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    color: #fff;
}

.page {
    display: flex;
    min-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1b1b44;
}

